
Client/SimpleChatClient/.vs/SimpleChatClient/v15/Browse.VC.db
Client/SimpleChatClient/.vs/SimpleChatClient/v15/Browse.VC.opendb
Client/SimpleChatClient/.vs/SimpleChatClient/v15/ipch/AutoPCH/253b13e640eec2f8/ROOMINFO.ipch
Client/SimpleChatClient/SimpleChatClient.sln
Client/SimpleChatClient/SimpleChatClient/SimpleChatClient.vcxproj
Client/SimpleChatClient/SimpleChatClient/SimpleChatClient.vcxproj.filters
Client/SimpleChatClient/SimpleChatClient/SimpleChatClient.vcxproj.user
Client/SimpleChatClient/.vs/SimpleChatClient/v15/.suo
Client/SimpleChatClient/.vs/SimpleChatClient/v15/ipch/AutoPCH/a97b235b4ee9b0e6/TCP.ipch
Client/SimpleChatClient/SimpleChatClient/Debug/vc141.pdb
Client/SimpleChatClient/SimpleChatClient/Debug/vc141.idb
Client/SimpleChatClient/SimpleChatClient/Debug/TCP.obj
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/unsuccessfulbuild
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/SimpleChatClient.lastbuildstate
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/link.write.1.tlog
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/link.read.1.tlog
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/link.command.1.tlog
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/CL.write.1.tlog
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/CL.read.1.tlog
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.tlog/CL.command.1.tlog
Client/SimpleChatClient/SimpleChatClient/Debug/SimpleChatClient.log
Client/SimpleChatClient/SimpleChatClient/Debug/RoomInfo.obj
